@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300&family=Raleway:ital,wght@0,800;1,400;1,800&family=Roboto+Slab:wght@100&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: sans-serif;
    scroll-behavior: smooth;
}

h1{
    color: #FFBB5C;
}

p{
    color: white;
}

.container{
    width: 100%;
    height: 350vh;
    background-size: cover;
    background:url(../img/bgteams.jpg);
}

header{
    background-color: #071952;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.navigation{
    display: flex;
}

.navigation div a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 30px;
}

.navigation div a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}
.navigation .dropdown a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 55%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}




.navigation div a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown{
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:12px;
    top:40px;
    background-color: #071952;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    position: absolute;
    min-width: 130px;
}


.navigation div:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.pembuka{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.text1{
    width: 50%;
    text-align: center;
    
}

#buka{
    margin-top: 50px;
    border-radius: 50%;
    background-color: #FFBB5C;
    width: 100px;
    height: 40px;
}

#buka:hover{
    transform: scale(1.2);
    color: white;
}

.teamUtama{
    margin-top: 50px;
    display: none;
    width: 100%;

}

.teamUtama p {
    
    color: black;
}

.atas{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.bawah{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.team {
    border-radius: 20px;
    height: 250px;
    width: 200px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.team h3{
    color: black;
    text-align: center;
    text-decoration: none;

}   
.team:hover{
    background-color: #FFBB5C;
    transform: scale(1.1);
}

.topik {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #FFBB5C;
    color: black;
    transform: translateY(100%);
    transition: transform 0.4s;
}

.topik p {
    font-size: 14px;
    text-align: center;
}
  
.team:hover .topik {
    transform: translateY(0);
} 
