@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300&family=Raleway:ital,wght@0,800;1,400;1,800&family=Roboto+Slab:wght@100&display=swap');


*{
    font-family: 'Nunito Sans', sans-serif;
/* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: sans-serif;
    scroll-behavior: smooth;
    color: white;
}
    


.container {
    height: 240vh;
    /* background-color: whitesmoke; */
    background:black;
    background-size: cover;
    background-position: center;

}


header {
    background-color: #071952;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation{
    display: flex;
}

.navigation div a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 30px;
}

.navigation div a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}
.navigation .dropdown a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 55%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}


.navigation div a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown{
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:12px;
    top:40px;
    background-color: #071952;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    position: absolute;
    min-width: 130px;
}


.navigation div:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.pembuka{
    padding-top : 100px;

}

iframe{
    width: 50%;
    float: left;
}

.text{
    margin-top: 30px;
    float: right;
    width: 40%;
    text-align: center;
    margin-left: 20px;
    margin-right: 70px;
}

.text p , .text2 p{
    font-size: 22px;
    margin-top: 20px;
    text-align: justify;
}

.bagian2{
    justify-content: space-around;
    clear: left;
    display: flex;
    align-items: center;
    padding-top: 60px;

}

.text2{
    text-align: center;
    width: 45%;
    clear: left;
}

.gambar1{
    width: 500px;
    overflow: hidden;
    border-radius: 10%;
}

.gambar1 img{
    object-fit: cover;
    transition: 0.8s; 
}

.gambar1:hover img{
    transform: scale(1.2);
    filter:brightness(1.2);
}

.bagian3{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bagian4{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.maps{
    border-radius: 10%;
}


