@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Oswald:wght@300&family=Raleway:ital,wght@0,800;1,400;1,800&family=Roboto+Slab:wght@100&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 350vh;
    background-color:pink;
}

header{
    background-color: #071952;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 30px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.judul{
    text-align: center;
    padding-top: 120px;
}

.slider-container{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.slider h2{
    text-align: center;
    text-decoration: underline red;
    
}

.slider img{
    border: #071952 4px dashed;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.slider p {
    margin-top: 12px;
    font-weight: bold;
}

.gambar img{
    border-radius: 30px;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    transform: translateY(0px);
    animation: float ease-out infinite 7s;
    }

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.lineup{
    border: #071952 dotted 5px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.lineup img{
    margin-left: 50px;
    clear: left;
    height: 200px;
    width: 350px;
}

.topik{
    margin-top: 30px;
    text-align: center;
}

.fullteam{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify;
}

.fullteam div h3{
    margin-top: 10px;
}
.fullteam div li{
    margin-top: 10px;
}